/* .card {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 150px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
    height: 60%;
    overflow: hidden;
    background:white;
}
.card > .img-container > img {
    width: 30%
}

.card {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    list-style-type: none;
}

.card {
    margin-top: 18px;
}  */

/* .card {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
} */
/* 
.img {
    width: 20px;
    height: 20px;
}  */

.img-thumbnail {
    width: 200px;
    height: 200px;
}